<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>Your purchase of {{JNT_amount}} Jibrel Network Token has been completed!</title>
</head>
<body style="margin: 0;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background: #F7F7F7; min-width: 340px; font-size: 1px; line-height: normal;">
    <tr>
        <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="table600" style="max-width: 600px; min-width: 320px; background: #F7F7F7;">
                <tr>
                    <td align="center" valign="top" style="padding-left: 20px;padding-right: 20px;">
                        <p style="line-height: 30px">&nbsp;</p>
                        <a href="https://jibrel.network" target="_blank" style="display: block; max-width: 130px;">
                            <img src="cid:jibrel_logo.png" alt="img" width="124" border="0" style="display: block; width: 124px; max-width: 100%;" />
                        </a>
                        <p style="line-height: 30px">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background: #fff; min-width: 340px; font-size: 1px; line-height: normal;">
    <tr>
        <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="table600" style="max-width: 600px; min-width: 320px; background: #ffffff;">
                <tr>
                    <td align="center" valign="top" style="padding-top:20px;padding-bottom: 50px;padding-left: 20px;padding-right: 20px;">
                        <p style="line-height: 30px">&nbsp;</p>
                        <h1 style="margin:0px;padding:0px;color:#3C3C58;line-height:24px;text-align:center;font-family:Helvetica, sans-serif;font-size: 18px">Jibrel Network Token Pre-sale Application</h1>
                        <p style="line-height: 45px">&nbsp;</p>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;">We have completed processing your payment and are pleased to inform you that your application to purchase Jibrel Network Token (JNT) at a price of US$ 0.225 per token has been successful.</p>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;">We have received payment of <span style="color: #005BE6;">{{transaction_currency_amount}} {{transaction_currency_name}}</span> - which has been processed at an average price of <span style="color: #005BE6;">~US$ {{transaction_currency_conversion_rate}} per {{transaction_currency_name}}</span>.<br /><br />This translates into a purchase of <span style="color: #005BE6;">{{transaction_jnt_amount}} JNT</span>.<br /><br />Your unique purchase ID is <span style="color: #005BE6;">{{jnt_purchase_id}}</span>.</p>
                        <p style="color:#9D9DAB;font-family:Helvetica, sans-serif;font-size:12px;margin-bottom:25px;padding:0px;line-height:16px;text-align: left;"><span style="color: red;">Note. </span>Please reference your purchase ID in future correspondence. In addition, feel free to request this unique ID from the team as a confirmation of identity / to prevent phishing scams.</p>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;font-weight: bold;">What Next?</p>
                        <ol style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;margin-left: 40px;">
                            <li>You will receive an email on November 10th requesting an ETH address to receive your tokens<br /><br /></li>
                            <li>All pre-sale tokens will be distributed by November 24th<br /><br /></li>
                            <li>If at any time you decide to withdraw your application, please feel free to email the team, referencing your application ID, you will be requested to complete a refund application, and the amount in full will be refunded to the originating account or wallet.</li>
                        </ol>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;">Please feel free to reach out directly if you have any questions.<br /><br /><br /></p>
                        <p style="color:#9D9DAB;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;">Kind regards,<br />Jibrel Network Team.</p>
                        <p style="color:#9D9DAB;font-family:Helvetica, sans-serif;font-size:12px;margin-bottom:25px;padding:0px;line-height:16px;text-align: left;"><span style="color: red;">Note:</span> We may request that you provide additional documentation in the future in order to meet all KYC / AML requirements outlined by Swiss laws and regulations.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background: #F7F7F7; min-width: 340px; font-size: 1px; line-height: normal;">
    <tr>
        <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="table600" style="max-width: 600px; min-width: 320px; background: #F7F7F7;">
                <tr>
                    <td align="center" valign="top" style="padding-left: 20px;padding-right: 20px;">
                        <p style="line-height: 20px">&nbsp;</p>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: center;font-weight: bold;">Pre-sale Support</p>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: center;">If you have any questions or concerns, please contact us at <a href="mailto:presale@jibrel.network" style="color: #005BE6;font-weight: bold;text-decoration: underline" target="_blank">presale@jibrel.network</a> and we&rsquo;ll be happy to assist you.</p>
                        <p style="line-height: 20px">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
