<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>Your Jibrel Network Token Application</title>
</head>
<body style="margin: 0;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background: #F7F7F7; min-width: 340px; font-size: 1px; line-height: normal;">
    <tr>
        <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="table600" style="max-width: 600px; min-width: 320px; background: #F7F7F7;">
                <tr>
                    <td align="center" valign="top" style="padding-left: 20px;padding-right: 20px;">
                        <p style="line-height: 30px">&nbsp;</p>
                        <a href="https://jibrel.network" target="_blank" style="display: block; max-width: 130px;">
                            <img src="cid:jibrel_logo.png" alt="img" width="124" border="0" style="display: block; width: 124px; max-width: 100%;" />
                        </a>
                        <p style="line-height: 30px">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background: #fff; min-width: 340px; font-size: 1px; line-height: normal;">
    <tr>
        <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="table600" style="max-width: 600px; min-width: 320px; background: #ffffff;">
                <tr>
                    <td align="center" valign="top" style="padding-top:20px;padding-bottom: 50px;padding-left: 20px;padding-right: 20px;">
                        <p style="line-height: 30px">&nbsp;</p>
                        <h1 style="margin:0px;padding:0px;color:#3C3C58;line-height:24px;text-align:center;font-family:Helvetica, sans-serif;font-size: 18px">Jibrel Network Token Pre-sale Application</h1>
                        <p style="line-height: 45px">&nbsp;</p>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;">Thank you for your interest in the Jibrel Network Token Pre-sale!</p>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;">To complete your application, please:</p>
                        <ol style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;margin-left: 40px;">
                            <li>Provide a copy of a valid passport<br /><br /></li>
                            <li>Provide the completed and signed Declaration Form (attached)<br /><br /></li>
                            <li>Complete your payment to the following account:<br /><br /><br />
                                Account Name<br />
                                <strong>EPAYMENTS SYSTEMS LTD CLIENTS FUNDS</strong><br /><br />
                                Address<br />
                                <strong>Palladium House 1-4 Argyll Str. London, United Kingdom</strong><br /><br />
                                IBAN<br />
                                <strong>LV41RTMB0000634806048</strong><br /><br />
                                SWIFT<br />
                                <strong>RTMBLV2X</strong><br /><br />
                                Bank Name<br />
                                <strong>Rietumu Banka</strong><br /><br />
                                Bank Address<br />
                                <strong>Vesetas 7, Riga, LV-1013, LATVIA</strong><br /><br />
                                Payment Details<br />
                                <strong>e-Wallet 000-956031</strong><br /><br />
                            </li>
                        </ol>
                        <p style="color:#9D9DAB;font-family:Helvetica, sans-serif;font-size:12px;margin-bottom:25px;padding:0px;line-height:16px;text-align: left;"><span style="color: red;">Note. </span>It is critical that the payment details “e-Wallet 000-956031” be included in “Memo” section of your transfer. If this is not included, the transfer will be refunded and your application will not be successful.</p>
                        <p style="color:#9D9DAB;font-family:Helvetica, sans-serif;font-size:12px;margin-bottom:25px;padding:0px;line-height:16px;text-align: left;"><span style="color: red;">Note. </span>Please note, the minimum pre-sale contribution is ${{investments_limit_min}}. If you do not meet the pre-sale contribution minimum, you will receive a follow-up email to increase or refund your contribution.</p>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;">Upon completing the transfer, you should receive a confirmation email highlighting your successful purchase.</p>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;">Thank you again for your interest and support.<br /><br /><br /></p>
                        <p style="color:#9D9DAB;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: left;">Kind regards,<br />Jibrel Network Team.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background: #F7F7F7; min-width: 340px; font-size: 1px; line-height: normal;">
    <tr>
        <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="table600" style="max-width: 600px; min-width: 320px; background: #F7F7F7;">
                <tr>
                    <td align="center" valign="top" style="padding-left: 20px;padding-right: 20px;">
                        <p style="line-height: 20px">&nbsp;</p>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: center;font-weight: bold;">Pre-sale Support</p>
                        <p style="color:#3C3C58;font-family:Helvetica, sans-serif;font-size:16px;margin-bottom:25px;padding:0px;line-height:24px;text-align: center;">If you have any questions or concerns, please contact us at <a href="mailto:presale@jibrel.network" style="color: #005BE6;font-weight: bold;text-decoration: underline" target="_blank">presale@jibrel.network</a> and we&rsquo;ll be happy to assist you.</p>
                        <p style="line-height: 20px">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
